@mixin text-center {
    text-align: center;
}

@mixin flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin trbl-0 {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@mixin cursor {
    cursor: pointer;
}